:root {
    --primary-color: #7ed957;
    --primary-color-light: #a2e57f;
    --dark-color: #191919;
}
#voice-gpt-component, #voice-gpt-component * {
    box-sizing: border-box;
}

#voice-gpt-component {
    position: fixed;
    width: 250px;
    /* height: 200px; */
    top: 10px;
    right: 10px;
    background-color: var(--dark-color);
    z-index: 2;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#voice-gpt-component .logo {
    width: 100px;
}
#voice-gpt-component .record-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#voice-gpt-component .control-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    margin: 10px;
    /* border: 6px solid var(--primary-color); */
    cursor: pointer;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
}
#voice-gpt-component .control-button.active {
    background-color: var(--primary-color);
}
#voice-gpt-component .control-button:hover {
    background-color: var(--primary-color-light);
}
#voice-gpt-component .control-button svg, #voice-gpt-component .control-button svg path {
    fill: var(--dark-color)!important;
}
#voice-gpt-component .control-button svg {
    width: 80%;
    height: 80%;
}
#voice-gpt-component .transcript {
    color: var(--dark-color);
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px;
    background: var(--primary-color-light);
    border: solid 3px;
    border-radius: inherit;
}
#voice-gpt-component .transcript h3 {
    margin: 8px 0;
    font-size: 18px;
    font-weight: 600;
}
#voice-gpt-component .transcript {
    width: 100%;
    margin-top: 10px;
}
#voice-gpt-component .transcript .placeholder {
    color: #191919bf;
    font-family: sans-serif;
}
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
.ripple:hover {
    background: var(--primary-color) radial-gradient(circle, transparent 1%, var(--primary-color) 1%) center/15000%;
}
.ripple:active {
    background-color: var(--primary-color-light);
    background-size: 100%;
    transition: background 0s;
}
.hidden {
    display: none;
}